section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  
}

#paragrafos_section {
    width: 80vw;
    height: 60vh;
    text-align: justify;
    font-size: 30px;
    display: flex; 
  color: white;
}
b {
    color: red;
    font-size: 2.2vw;
  font-family: King;
  }
