section {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  
}

#texto{
  width: 50vw;
}

#paragrafos_section {
    text-align: justify;
    color: white;
    font-size: 1.5vw;
}
#paragrafos_section b{
    color: red;
    font-size: 3vw;
    font-family: King;
  }

  @media (max-width: 450px) {
    section {
        width: 69vw;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    #texto {
        width: 50vw; 
    }

    #paragrafos_section {
        display: flex;
        
        color: white;
        font-size: 3vw; 
        width: 71vw;   
     
        font-family: King;
    }
    }

   
       


   
  
  