h1 {

    color: rgba(52, 211, 211, 0.861);
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    color: blue;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}