#titulo_section {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.paragrafos_section {
    color: white;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.texto_section {
    color: white;
    text-align: center;
   
}